
    <div style="height:8px"></div>
    <ul class="nav" style="display:block">
           <li> <a> <i class="fa fa-th-large"></i> <span class="menu">概览</span> </a> </li>
           <li> <a> <i class="fa fa-list-alt"></i> <span class="menu">商品管理</span> </a> </li>
           <li> <a> <i class="fa fa-list-alt"></i> <span class="menu">商品交易</span> </a> </li>
           <li> <a> <i class="fa fa-list-alt"></i> <span class="menu">账户查询</span> </a> </li>
           <li> <a> <i class="fa fa-list-alt"></i> <span class="menu">帮助</span> </a> </li>
         </ul>


