	<div id="front">
	<div class="bodydiv1">
		<div style="float:left;color: black;width: 800px">
			日志名<input type="text" placeholder="请输入..." id="logname" class="input1">
			用户名<input type="text" placeholder="请输入..." id="username" class="input1">
		</div>
		<div style="display: inline-block;position: relative;left: 10px">
			<button class="btn btnb" id="getlog">查询日志</button>
		</div>
	</div>
	<div style="position: relative;top:30px;left: 5%;margin: 20px 0">
		<button class="btn btnb" id="sendbtn">
			上传日志
		</button>
		<button class="btn btn2">删除日志</button>
	</div>
	<div style="position: relative;top:20px;width:80%;left:5%">
        <table data-toggle="table" class="table-striped">
        	<colgroup>
        		<col style="width:10%">
				<col style="width:15%">
				<col style="width:35%">
				<col style="width:15%">
				<col style="width:15%">
				<col style="width:10%">
			</colgroup>
		    <thead style="background-color:#F8F9F9;border-bottom: solid 2px #dddddd">
		        <tr style="">
		        	<th><input type="checkbox"></th>
		            <th>日志名</th>
		            <th>日志内容</th>
		            <th>上传时间</th>
		            <th>用户名</th>
		            <th>操作</th>
		        </tr>
		    </thead>
		    <tbody id="loglist">
		        <tr>
		        	<td></td>
		            <td>1</td>
		            <td>Item 1</td>
		            <td>$1</td>
		            <td></td>
		            <td><a style="margin:0 5px;">查看</a><a style="margin:0 5px;">删除</a></td>
		        </tr>
		    </tbody>
		</table>
      </div>
  </div>
      <div id="sendlogdiv" style="display: none;">
      	<div style="border-bottom: solid 1px #dddddd;margin: 30px;padding: 10px;font-size: 16px">
      		上传日志
      	</div>
      	<div style="margin: 30px;">
      		<div style="margin: 30px;">日志名<input type="text" id="logname2" placeholder="请输入..." ></div>
      		<div style="margin: 30px;">账户<input type="text" name="" id="account" placeholder="请输入..."></div>
      		<div style="margin: 30px;">日志内容<div style="width: 800px;height: 80px;border:dashed 1px #dddddd;text-align: center;display: inline-block;"><input type="file" style="display: none;"><a style="line-height: 80px">上传附件</a></div></div>
      		<div style="margin: 30px;"><textarea style="width: 800px;height: 400px;" id="log2"></textarea></div>
      		<input type="button" class="btn btnb" id="sendlog" value="提交">
      		<input type="button" class="btn btn2" id="cancel" value="取消">
      	</div>

      </div>
      <div id="downtips" style="display: none;position: absolute;top:0;left: 0;width: 100%;height: 100%;z-index: 10;background-color: #cccccc;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;">
      	<div style="width: 600px;height: 220px;position: fixed;left: 50%;top: 50%;text-align: center;">
      		<div>
      			删除日志
      		</div>
      		<div style="border-top: solid 1px #dddddd;border-bottom: solid 1px #dddddd;">
      			已选择日志<span id="dellogs"></span>确定删除？
      		</div>
      		<div>
      			<input type="button" class="btn btnb" id="dellog" value="确定">
      			<input type="button" class="btn btn2" id="canceldel" value="取消">
      		</div>
      	</div>
      </div>